<div class="container mt-3">


  <h2 class="text-center mb-3"> <%=current_user.first_name%>'s bookings! 🦠</h2>

  <br>
  <div class="row justify-content-center">

    <div class="cards-index">

    <% @bookings.each do |booking| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-disease align-content mb-3">
          <%= cl_image_tag booking.disease.image.key, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos mx-3">

            <h3><%= link_to booking.disease.name, booking_path(booking) %></h3>
            <p class="text-decoration: none"><strong>From:</strong> <%= booking.start_date %></p>
            <p class="d-block mb-3"><strong>To:</strong> <%= booking.end_date %></p>
            <p class="d-block mb-3"><strong>Duration:</strong> <%= (booking.end_date - booking.start_date).to_i%> days</p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<br>
<%= link_to 'Home', root_path, class: "btn btn-ghost" %>
</div>
