
<div class="container">
  <h1>Your bookings ­Ъда</h1>
  <%= simple_form_for([@disease, @booking]) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
  <% end %>

  <br>
  <%= link_to 'Back', diseases_path %>
</div>
