<div class="container mt-3">

  <h1 class="text-center">Order confirmation</h1>

  <div class="row">

    <div class="card-disease my-3">
      <%= image_tag @booking.disease.image %>
      <div class="card-product-infos mx-3">
        <h2><%= @booking.disease.name %></h2>
        <p class="mb-3"><%= @booking.disease.description %></p>
      </div>
    </div>

    <div class="card-profil col-4 offset-1 my-3">
      <ul>
        <h2>Owner :</h2>
        <li><strong>First name</strong> : <%= @booking.user.first_name %></li>
        <li><strong>Last name</strong> : <%= @booking.user.last_name %></li>
        <li><strong>Address</strong> : <%= @booking.user.address %></li>
        <li><strong>Email</strong> : <%= @booking.user.email %></li>
        <br>
        <li><strong>Duration </strong>: <%= (@booking.end_date - @booking.start_date).to_i%> days</li>
        <li><strong>From:</strong> <%= @booking.start_date %></li>
        <li class="d-block mb-3"><strong>To:</strong> <%= @booking.end_date %></li>
      </ul>
    </div>

  </div>

  <%= link_to 'My Bookings', bookings_path, class: "btn btn-ghost align-right" %>
  <%= link_to 'Delete', disease_booking_path(@booking.disease, @booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-ghost" %>
</div>


