
<div class="container formnew">
  <%= simple_form_for @disease do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :image, as: :file %>
  <br>
  <%= f.button :submit, 'Create' , class:'btn btn-ghost' %>
  <% end %>
</div>
