<div class="container">

  <h2 class="text-center mb-3"> <%=current_user.first_name%>'s beautiful diseases !</h2>


  <div class="cards-index">

    <% @diseases.each do |disease| %>
    <div class="card-disease">
      <%= image_tag disease.image %>
      <div class="card-product-infos mx-3">
        <h2><%= disease.name %></h2>
        <p class="mb-3"><%= disease.description %></p>
        <%= link_to 'Delete', profil_destroy_path(disease), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-ghost" %>
      </div>
    </div>
    <% end %>

  </div>
</div>

