<div class="container">
  <h1 class="text-center"> My profil </h1>

    <p> First name : <%= current_user.first_name %></p>
    <p> Last name: <%= current_user.last_name %></p>
    <p> E-mail : <%= current_user.email %></p>
    <p> Address: <%= current_user.address %></p>
    <p> <%= link_to "My Bookings", bookings_path %></p>
    <p> <%= link_to "Add a new disease", new_disease_path %> </p>

</div>
